* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .form-container {
    width: 600px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
  }
  
  .form-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #00bfff;
    margin-bottom: 10px;
  }
  
  .form-input {
    width: 80%;
    height: 40px;
    margin:  10px 60px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-align: center;
  }
  
  .form-button {
    width: 25%;
    height: 50px;
    margin: 20px 200px;
    background-color: #000;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .form-footer {
    text-align: center;
    font-size: 14px;
    color: #999999;
  }
  .form-button:hover {
      opacity: 1;
    }